.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.705);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  span {
    font-size: 32px;
    font-weight: 700;
    margin-left: 16px;
  }
  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.playerActive {
  background-color: orange !important;
}
