@for(player of currentGame.players ;track $index; let i = $index){
<app-player
  class="player-position"
  [ngStyle]="{ 'top.px': 80 + 90 * i }"
  [playerActive]="i == currentGame.currentPlayer"
  [name]="player"
></app-player
>}
<section class="field">
  <div class="card-stack">
    <!--  Card stack-->
    @for (card of [0,1,2,3]; track $index; let i = $index) {
    <img
      [ngStyle]="{ right: i * 5 + 'px' }"
      src="/assets/img/card-spezial/card_cover.png"
      alt=""
    />}
    <img
      (click)="takeCard()"
      class="upper-card-cover"
      src="/assets/img/card-spezial/card_cover.png"
      alt=""
    />
    <!--  Stack for played cards -->
    @for (playedCard of currentGame.playedCards;track $index; let i = $index) {
    <img
      src="/assets/img/card-front/{{ playedCard }}.png"
      alt=""
      class="played-card"
    />}
    <!-- Current card (Animation) -->
    @if(pickCardAnimation){
    <img
      (click)="takeCard()"
      class="pick-card"
      src="/assets/img/card-front/{{ currentCard }}.png"
      alt=""
    />}
  </div>
</section>
<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>
<button matFab class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
